{% extends 'main.html' %}

{% block title %}Update Product{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="border bg-white p-3">
        <h4>Add Products</h4>
        <hr>
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            {{form.name}}
            {% for err in form.name.errors %}
            <div class="text-danger small">{{err}}</div>
            {% endfor %}
          </div>
          <div class="form-group">
            {{form.category}}
            {% for err in form.category.errors %}
            <div class="text-danger small">{{err}}</div>
            {% endfor %}
          </div>
          <div class="form-group">
            {{form.quantity}}
            {% for err in form.quantity.errors %}
            <div class="text-danger small">{{err}}</div>
            {% endfor %}
          </div>
          <div class="form-group">
            <a href="{% url 'product' %}" class="btn btn-secondary">Close</a>
            <input class="btn btn-success" type="submit" value="Update">
        </div>
        </form>
    </div>
</div>

{% endblock %}