{% extends 'main.html' %}

{% block title %}Staff{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

{% include "snippets/top.html" %}

<!--Tables-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white table-responsive-sm">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                  </tr>
                </thead>
                <tbody>
                  {% for w in staff %}
                  <tr>
                    <td><a href="#">{{w.username}}</a></td>
                    <td>{{w.email}}</td>
                    <td>{{w.profile.phone}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
<!--end table-->


{% endblock %}