{% extends 'main.html' %}
{% block title %}Profile Update{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<!--Tables-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Profile
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4">Staff Profile Information</span>
                            <hr>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{userform.username}}
                                </div>
                                <div class="form-group">
                                    {{userform.email}}
                                </div>
                                <div class="form-group">
                                    {{profileform.address}}
                                </div>
                                <div class="form-group">
                                    {{profileform.phone}}
                                </div>
                                <div class="form-group">
                                    {{profileform.image}}
                                </div>
                                <input type="submit" class="btn btn-dark" value="Update">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end table-->



{% endblock %}